* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.carousel-container {
    height: 100vh;
    width: 100%;
    background-color: #ededed;
    display: flex;

}

.carousel{
    background-color: rgb(28, 119, 255);
    height: 400px;
    width: 800px;
    margin: auto;
}
